@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');
'
 @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400, 700, 900');
@font-face {
    font-family: 'bahij_nassimregular';
    src: url('../fonts/bahij_nassim-regular-webfont.woff2') format('woff2'),
         url('../fonts/bahij_nassim-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
   font-family: 'PT Serif', serif;
	font-size:16px;
	color:#000;
	font-weight:300;
	position:relative;
}
.bodyBg{background-color:#272727 !important;}
a{ text-decoration:none;}
ul, ol {
	margin:0;
	padding:0;
}
li {
	list-style: none;
}
.h1, .h2, .h3, h1, h2, h3 {
	margin:0;
}
p {
	color:#090909;
	font-size:18px;
	line-height:28px;
}
.wrapper{ width:1240px; margin:0 auto;}
.container {
	width:1024px;
}
/* header */
.logo {
	background:#af9f7b;
	padding:10px 30px;
	float:left;
	margin-right: 15px;
}
.navbar-inverse {
	background-color: #272727;
	border-color: #272727;
}
.navbar {
	min-height: inherit;
	margin-bottom: 0;
	border: inherit;
	border-radius: 0;
}
.navbar-inverse .navbar-nav > li > a {
	color: #E6E6E6;
	text-transform:uppercase;
	font-family: 'PT Serif', serif;
	font-weight:400;
	font-size:15px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover { color:#E6E6E6;
	background-color:inherit;
}
.navbar-nav {
	padding-top: 15px;
}
.nav>li>a {
	padding: 10px 20px;
	font-size: 15px;
}
.nav>li {
	padding-left: 25px;
}
/*banner */
.carouselText {
	width: 65%;
	padding: 50px 94px;
}
.banner {
	background:url(../images/sepia.jpg) no-repeat 0 0;
	height:611px;
}
.banner h3 {
	font-size: 18px;
	color: #C69C6D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	line-height: 22px;
}
.banner h1 {
	font-size:60px;
	color: #FFFFFF;
	font-weight: 600;
	line-height: 70px;
	padding:48px 0;
	 font-family: 'bahij_nassimregular';
}
.banner p {
	font-size: 24px;
	color: #E6E6E6;
	    font-family: "Times New Roman", Times, serif;
	line-height: 36px;
	padding-right: 20%;
}
.banner p a{color: #C69C6D;text-decoration: underline;}
.banner pa:hover {
    color: #FC7500;
    text-decoration: underline;

}
.content{ background:#fff;padding: 150px 0 130px;}
.content h1 {
	font-family: 'Playfair Display', serif;
 display: inline;
 font-size: 59px;
 font-weight: bold;
 line-height: 110%;
 background-color: #ffffff;
 position: relative;
 top: -37px;
}
.content p {
	padding-bottom: 40px;
	font-size: 16px;
	color: #332823;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 24px;
}
.content li {
	display: inline-block;
	width:20%;
	margin-left:-4px;
	vertical-align: top;
}

.content li a {
	color: #332823;
	text-transform:uppercase;
	text-decoration:none;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight:600;
}
.content li span {
	display: block;
	padding-top: 10px;
}
.footerLeft {
	width:20%;
	float:left;
}
.footerRight {
	width:80%;
	padding-top: 60px;
}
.footerInner {
	background: #1e1e1e;
	float: left;
	width: 100%;
}
.secInfo {
	padding-top:50px;
	text-align: center;
	width:96%;
	margin: 0 auto;
}
.contentInfo {
	border: 1px solid #754c24;
	width:550px;
	text-align:center;
	margin: 0 auto;
	padding: 0 60px;
}
.footerRight p {
	font-size: 16px;
	color: #949494;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 19px;
}
.meetings{ padding:60px 40px;}
.meetingsInner{ background:#fff; width:700px; margin:0 auto;padding:20px 80px 50px;}
.bgSec6table{width:700px; margin:0 auto;padding:20px 80px 50px;}
.meetingsInner h2{
font-family: 'bahij_nassimregular';
 font-size: 48px;
 text-align: center;
 font-weight: 400;
 line-height: 58px;
padding-bottom: 20px;
}
.table-grid {
	border:1px solid #000;
	width: 100%;
}
.table-grid th, .table-grid td {
	padding:15px;font-family: Arial, Helvetica Neue, Helvetica, sans-serif;font-weight: 300;
}
.table-grid th {
	background:#4CAF50;
	color:#fff;
}
.table-grid td {
	color:#000;
}
.table-grid tr:nth-child(even) {
background-color: #f2f2f2;
}
.contactInner {
	background: #fff;
	width: 500px;
	margin: 0 auto;
	padding: 40px 80px;

}
.contactInner p {
	color: #090909;
	font-size: 14px;
	line-height: 17px;
	margin: 0;
	    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
.links{background-color: #534741;}
.links {

    background-color: #534741;
    display: inline-block;
    padding: 12px 24px;

}
.links a{ color:#fff;}
.links a:hover{ color:#FC7500}
.softwareInner {
	background:#534741; padding:70px;
}
.softwareInner h1 {

    font-size: 48px;
    color: #C7B299;
    text-align: center;
    font-family: 'bahij_nassimregular';
    font-weight: 400;
    line-height: 58px;
	padding-bottom: 15px;

}
.softwareInner h2 {
    font-size: 30px;
    color: #C7B299;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
    line-height: 36px;

}
.softwareInner p {
font-size: 14px;
line-height: 17px;
    color: #C7B299;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif; padding-bottom:5px;

}
.linkInfo {

    padding-top: 15px;

}
.linkInfo h2{ font-size:24px;}
.linkInfo li a.active{color: #FC7500;}
.linkInfo li a{ color:#fff; font-size:14px; line-height:17px;text-decoration: underline;}
.linkInfo li a:hover {

    color: #FC7500;
    text-decoration: underline;

}
p.linksText{ padding:20px 0 10px;}
.membership{ background:#fff; padding:20px 40px;}
.applySec { background:#C7B299; padding:5px 20px;}
.applySec li {

    list-style: inherit;
    margin-left: 15px;

}
.membership p{font-family: 'PT Serif', serif; font-size:14px; line-height:18px;padding-left: 20px;
}
.membership h2{

    font-size: 48px;
    font-family: 'bahij_nassimregular';
    text-align: center;
    font-weight:400;
    padding-bottom: 10px;

}
.voting{ padding-top:25px !important;}
.membership h3{

    font-size: 30px;
    font-family: 'bahij_nassimregular';
    font-weight: 600;
	padding: 10px 20px;

}

.applySec h4{
    font-size:16px;
    font-family: 'bahij_nassimregular';
    font-weight:600;

}
.membership li{font-family: 'PT Serif', serif;
font-size:14px;
line-height:28px;
}
.contactUs {
	min-height:570px;
	padding: 50px 0;
}
.cloudcoin{ padding-bottom:30px;}
.aboutSec {

    background: #fff;
    padding: 40px 41px 10px;

}
.aboutSec h2 {

    font-size: 48px;
    font-family: 'bahij_nassimregular';
    text-align: center;
    font-weight: 400;
    line-height: 58px;

}
.aboutSec h4 {

    font-size: 30px;
    font-family: 'bahij_nassimregular';
    text-align: center;
    font-weight: 400;
    line-height: 36px;

}
.aboutSec h2  a{ color:#42410B; text-decoration:none;}

.question h2 {
padding:10px 0;
    font-size: 30px;
    font-family: 'bahij_nassimregular';
    text-align: left;
    font-weight: 400;
    line-height: 36px;

}
.question p{ font-size:14px; line-height:20px; margin:0;}
.question p span{ font-weight:bold;}
.aboutText h2 {
	text-align:left;
    font-size: 30px;
    font-family: 'bahij_nassimregular';
 font-weight: 400;
 line-height: 36px;
 padding:20px 0 10px;
}
.aboutText p {
	font-size:14px;
	line-height:17px;
	padding-bottom:5px;
}
.CloudStandards {
	background:#fff;
	padding:20px;
}
.CloudStandards h2 {
	font-size: 48px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	text-align: center;
	line-height: 58px;
}
.fileType {
	background: #534741; padding:20px;
}
.fileType h2 {
	font-size: 36px;
	color: #C69C6D;
	text-align: center;
	font-family: 'bahij_nassimregular';
 font-weight: 400;
 line-height: 43px;
 padding-bottom:10px;
 padding-bottom:40px;
}
.fileType li {
	font-size: 24px;
	line-height: 29px;
}
.fileType li a {
	color:#FC7500;
	text-decoration:underline;
}
.DirectoryServices, .EchoService {
	margin-top: 21px;
	background-color: #B0FFB5;
	padding:20px;
}
.EchoService {
	padding-bottom: 49px;
	margin-top: 44px;
	background-color: #F6FFBC;
}
pre {

	background-color:inherit;
	 border:transparent;
}
.DirectoryServices h2, .EchoService h2{ font-size: 48px;
padding-bottom: 15px;
font-family: 'bahij_nassimregular';
 text-align: center;
 font-weight: 400;
 line-height: 58px;
}
.EchoService h3{

    font-size: 30px;
    font-family: 'bahij_nassimregular';
    text-align: center;
    font-weight: 400;
    line-height: 36px;

}
.EchoService {
    width: 100%;
    overflow-x: scroll;

}
.listItam { padding:150px 0;}
.listItam li {

    display: inline;
    width: 8%;

}
.listItam li img {

    width: 58px;
    margin-left: 10px;
    margin-bottom: 10px;

}
.DirectoryServices h4, .EchoService h4 {
	font-size:14px;
	line-height:18px;
	font-weight:bold;
}
.DirectoryServices p, .EchoService p {
	font-size:14px;
	line-height:18px;
}
.CloudStandards h1 {
	font-size: 48px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	text-align: center;
	line-height: 58px;
	padding-bottom:40px;
}
.DirectoryServices p span, .EchoService p span {
	font-weight:300 !important;
	font-family: Courier New, Courier, monospace;
}
.bgSec3 {
	padding:20px;
	margin-top: 41px;
	background-color: #FFD7C8;
}
.bgSec4 {
	background-color: #F1E6FF;
}
.bgSec5 {
	background-color: #CEFAFF;
}
.bgSec6 {
	padding-bottom: 28px;
	margin-top: 20px;
	background-color: #C5FFC2;
}
.bgSec7 {
	padding-top: 47px;
	margin-top: 56px;
	background-color: #D8D4FF;
}
.bgSec8 {
	padding-bottom: 28px;
	margin-top: 20px;
	background-color: #C5FFC2;
}
.bgSec9 {
	background-color: #BFB6FF;
}
.bgSec10 {
	padding-bottom: 35px;
	background-color: #FFE4C8;
}
.bgSec11 {
	padding-top: 6px;
	margin-top: 36px;
	background-color: #FDFF97;
}
.bgSec12{
	background-color: #FFFFFF;
	}
.bgSec13{
	background-color: #C7B299;
	}
.bgSec14{
	padding-top: 47px;
margin-top: 56px;

background-color: #D8D4FF;
	}
	.imgStandards{ margin-bottom:30px;}
	.imgStandards img{ width:100%;}
	.rule li{ list-style: inside;}
.mony{background: #029700 url("../images/pattern16.jpg?crc=4238710518") repeat left top; padding:10px 0 1px;

}
.DirectoryServices li {

    list-style: inside; padding-left:20px;

}
.mony h2 { padding:10px 0;

    font-size: 48px;
    font-family: nassim-latin, sans-serif;
    text-align: center;
    font-weight: 400;
    line-height: 58px;

}
.jasonbg{ background:#FFE4C8; padding:10px; border:1px solid #000;
	
	}
.jasonbg:hover{ background:#f2f2f2;}
.tabHead{ background:#4CAF50; padding:10px; color:#fff; border:1px solid #000;}